html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    margin: 0;
}

nav {
    background: #353961;
    height: 12vh;
    width: 100%;
    position: fixed;
    display: flex;
    border-radius: 0px 0px 10px 10px;
}


/* Content */

header {
    width: 100%;
    height: 100vh;
}

.bg {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.content {
    width: 80%;
    height: 70%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blocks {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.blocks .left-block-content {
    background: #BDC3C7;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px 0px 0px 20px;
}

.left-block-content .top {
    font-family: 'Inter', sans-serif;
    color: #444647;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-block-content .mid {
    background: orange;
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    width: 90%;
    margin: 20px 0px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background: #444647;
}

.left-block-content .bot {
    background: salmon;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 93%;
    height: 50%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #353961;
}

.blocks .right-block-content {
    background: #353961;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}
